@include media-breakpoint-up(xs) {
	.header-logo {
		display:inline-block;
		height:37px;
		width:175px;
		line-height:1.5;
	}
	.overlay {
		opacity:0;
		height: 0;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: $white;
		overflow-y: hidden;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		z-index:9001;
		.overlay-content {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height:100%;
			padding:100px 0;
			overflow:auto;
			.menu-products-container, .menu-services-container, .menu-resources-container, .menu-company-container {
				.menu {
					list-style-type:none;
					margin:0;
					padding:0;
					a {
						font-weight: $font-medium;
						font-size:.9rem;
					}
				}
			}
		}
	}
	.overlay-close {
		position:absolute;
		z-index:1100;
	}
	.overlay-menu {
		position:fixed;
		z-index:1000;
	}
	.overlay-close, .overlay-menu {
		top:25px;
		right:30px;
		padding:0.5rem;
	}
	header {
		.dropdown-menu {
			border:$primary solid 3px;
			box-sizing:border-box;
			margin-top:15px;
			position:relative
			.dropdown-item {
				padding: .3rem 1.5rem;
			}
			.dropdown-item:hover {
				background-color:$mdc-light-blue-100;
			}
			.arrow {
				border-style: solid;
				position: absolute;
				border-color: transparent transparent $primary transparent;
				border-width: 10px;
				top: -20px;
				right: 1.2rem;
			}
			.arrow:after {
				border-style: solid;
				position: absolute;
				border-color: transparent transparent $white transparent;
				border-width: 8px;
				top: -4px;
				right:-8px;
				content: "";
			}
		}
	}
	.lockscroll.aos-init {
		pointer-events:none;
	}
	.lockscroll.aos-animate {
		pointer-events:auto;
	}
}

@include media-breakpoint-up(sm) {
	.overlay-close, .overlay-menu {
		top:30px;
	}
	.overlay-close {
		right:30px;
	}
	.overla-menu {
		right:30px;
	}
}

@include media-breakpoint-up(md) {
	.header-logo {
		height:42px;
		width:200px;
	}
	.overlay-close, .overlay-menu {
		padding:1rem;
	}

	.overlay-close {
		right:45px;
	}
	.overla-menu {
		right:30px;
	}
}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
	.header-logo {
		height:50px;
		width:240px;
	}
}