.feature-image {
	background-position: center; 
	background-size: cover; 
	background-repeat: no-repeat; 
	width:50%; 
	height: 100vh; 
	position: fixed;
	top:0;
}
.avatar {
	border-radius:50%;
}
.single-post {
	h2 {
		margin-top:3rem;
		font-weight: $font-regular;
	}
	figure {
		width:100%;
		padding:30px;
		border:$mdc-grey-300 solid 1px;
		text-align:center;
		background-color:$mdc-grey-100;
		margin:2rem 0;
		figcaption {
			font-size: 13px;
			font-weight: $font-medium;
			color:$mdc-grey-600;
			margin-top:15px;
			font-style: italic;
		}
	}
	figure[style] {
		max-width:100% !important;
	}
}

//* Homepage Slider
.home-slider {
	width:100%;
	height:100vh;
	background-color:$mdc-grey-100;
	position:relative;
	.slider .slide {
		width:100%;
		height:100vh;
		outline:none;
    position:relative;
    .slide-content {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:100%;
    	z-index:2;
    }
    .image-overlay {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:100%;
    	z-index:1;
    	opacity:.75;
    }
    .background-image {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:100%;
			background-attachment:fixed;
			background-position:center;
			background-repeat:no-repeat;
			background-size:cover;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(100%);
    }
	}
	.toggle-left, .toggle-right {
		position: absolute;
		top:50%;
		transform:translate(0%, -50%);
		-webkit-transform:translate(0%, -50%);
		z-index: 10;
		cursor:pointer;
	}
	.toggle-left {
		left:30px;
	}
	.toggle-right {
		right:30px;
	}
}

