.btn {
	cursor:pointer;
	border-radius:2rem;
	padding:.5rem 1.5rem;
	font-weight:$font-medium;
	text-transform:uppercase;
}
.btn-primary {
	background-color:$btn-primary;
	border-color:$btn-primary;
}
.btn-primary:hover {
	background-color:$btn-primary-dark;
	border-color:$btn-primary-dark;
}
.btn-secondary {
	background-color:$btn-secondary;
	border-color:$btn-secondary;
}
.btn-secondary:hover {
	background-color:$btn-secondary-dark;
	border-color:$btn-secondary-dark;
}
.btn-success {
	background-color:$btn-success;
	border-color:$btn-success;
}
.btn-success:hover {
	background-color:$btn-success-dark;
	border-color:$btn-success-dark;
}
.btn-danger {
	background-color:$btn-danger;
	border-color:$btn-danger;
}
.btn-danger:hover {
	background-color:$btn-danger-dark;
	border-color:$btn-danger-dark;
}
.btn-warning {
	background-color:$btn-warning;
	border-color:$btn-warning;
}
.btn-warning:hover {
	background-color:$btn-warning-dark;
	border-color:$btn-warning-dark;
}
.btn-info {
	background-color:$btn-info;
	border-color:$btn-info;
}
.btn-info:hover {
	background-color:$btn-info-dark;
	border-color:$btn-info-dark;
}
.btn-light {
	background-color:$btn-light;
	border-color:$btn-light;
}
.btn-light:hover {
	background-color:$btn-light-dark;
	border-color:$btn-light-dark;
}
.btn-dark {
	background-color:$btn-dark;
	border-color:$btn-dark;
}
.btn-dark:hover {
	background-color:$btn-dark-dark;
	border-color:$btn-dark-dark;
}
.btn-link {
	color:$mdc-blue-500 !important;
}
.btn-link:hover {
	color:$mdc-blue-600 !important;
}
.btn-primary, .btn-warning, .btn-secondary, .btn-success, .btn-danger, .btn-dark, .button-info {
	color:$white !important;
}
.btn-light {
	color:$mdc-blue-500 !important;
}
.btn-outline-light {
	border-width:2px;
}
.btn-outline-light:hover {
	background-color:rgba($white,.25);
}

.btn-circle {
	display: inline-block;
	border-radius:50%;
	text-align:center;
	position:relative;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	box-shadow:0 5px 15px rgba($black, .3);
	i {
		font-weight: $font-bold;
	}
	a {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

@include media-breakpoint-up(xs) {
	.btn-circle {
		height:37px;
		width:37px;
		i {
			font-size:16px
		}
	}
}
@include media-breakpoint-up(sm) {
	.btn-circle {
		height:50px;
		width:50px;
		i {
			font-size:18px
		}
	}
}
@include media-breakpoint-up(lg) {
	.btn-circle {
		height:60px;
		width:60px;
		i {
			font-size:20px
		}
	}
}
@include media-breakpoint-up(xl) {
	.btn-circle {
		height:70px;
		width:70px;
		i {
			font-size:24px
		}
	}
}
