// Grid system
/*.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}*/
.card {
	border:none;
	border-radius:0;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
	.card-img, .card-img-top {
		border:none;
		border-radius:0;
	}
	.card-footer {
		border:none;
		border-radius:0;
	}
	.card-title {
		font-weight: $font-regular;
		a {
			color:$black;
		}
		a:hover {
			text-decoration:underline;
		}
	}
}
.card:hover {
	box-shadow: 0 5px 20px $mdc-grey-400;
}
